div.container {
    text-align: center;
    background-color: rgba(0, 180, 200, 0.9);
    background-clip: padding-box;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;

    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 80%;
    height: 100%;
    max-width: 50vw;
    min-width: 40vw;

    overflow-x: hidden;
    overflow-wrap: break-word;
}
